
.application_form {
    /*background: white;*/
    padding: 24px;
    display: block;
    background: lightgrey;
    width: 576px;
    height: 280px;
    border: 2px;
    border-color: none;
    border-style: solid;
    border-radius: 10px;
    z-index: 1;
    margin: auto;
    margin-top: 10%;
}

