
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*border: 1px solid teal;*/
  position: relative;
  /*display: flex;*/

}

button {
  padding: 8px 16px;
  border: none;
  background: green;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin: 4px;

}

header {
  background-color: yellow;
  display: flex;

}

.logo {
  margin-left: 100px;
  margin-top: 10px;
}

body {
  width: 100%;
  position: relative;
  /*display: inline;*/
  background-color: #e6f7f7;
}

.card {
  float: left;
}

image {
  /*float: left;*/
  display: inline-block;
}

